label{
  display: block;
  cursor: pointer;
}

input + label{
  display: inline;
}
input{
border: 3px solid hotpink;
background-color: pink;
border-radius: 5px;
font-size: 2em;
padding: 1em;
}
button{
border: 3px solid limegreen;
background-image: linear-gradient(limegreen, darkgreen);
font-size: 3em;
padding: 1em;
border-radius: 10px;
cursor: pointer;
}
